*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.board {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list {
    background-color: #e3e4e8;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 2.5px 5px 6px rgba(0,0,0,0.2);
}

.list.over {
    background-color: #d1d3d8;
}

.list h2{
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
}

.card:hover {
    transform: scale(1.01);
    background-color: #fcfcfc;
}

.card:active {
    cursor: grabbing;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

input {
    height: 2.5rem;
    width: 15rem;
    background-color: #fff;
    color: #333;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    margin-top: 6rem;
    margin-bottom: 10px ;
    border: 1px solid #666;
    border-radius: 1.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
} 

input:hover {
    transform: scale(1.01);
    background-color: #fcfcfc;
    cursor: pointer;
}

input:active {
    box-shadow: 2px 4px 2px rgba(0,0,0,0.5);
}

button {
    height: 2.5rem;
    width: 15rem;
    background-color: #fff;
    color: #333;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #666;
    border-radius: 1.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
}

button:hover {
    transform: scale(1.01);
    background-color: #fcfcfc;
    cursor: pointer;
}

.button:active {
    box-shadow: 2px 8px 2px rgba(0,0,0,0.5);
}

@media (max-width:768px) {
    .board {
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}