* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    height: 80px;
    color: aliceblue;
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    height: 50vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    width: 200px;
    margin-left: 5vmin;
    margin-right: 5vmin;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 10px rgb(21, 20, 22);
    transition: all 0.3s ease-in-out;
}

img:hover {
    scale: 1.15;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(21, 20, 22);
}

.score-board {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.c-score,
.u-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 2rem;
}

.msg {
    color: aliceblue;
    font-size: 2rem;
    background-color: #081b31;
    border-radius: 10vmin;
    display: inline;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 2.5px 2.5px 10px rgb(21, 20, 22);
}

.btn-container {
    margin-top: 2rem;
}

button {
    color: aliceblue;
    font-size: 2rem;
    background-color: #081b31;
    border-radius: 10vmin;
    display: inline;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    box-shadow: 2.5px 2.5px 10px rgb(21, 20, 22);
}
